/* Estilos globales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
/* Estilos de encabezado principal */
.header {
    background: linear-gradient(to bottom, #000000 20%, #292929 100%);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    position: fixed;
}

.header-img {
    width: 150px;
    height: auto;
}

.header-list {
    background-color: #fff;
    display: flex;
    gap: 15px;
    border-radius: 20px;
    padding: 10px;
}

.header-a {
    color: #000000;
    font-size: 1.5rem;
    font-weight: 400;
}

.header-a:hover {
    color: #201717;
    font-weight: bold;
}

/* Seccion de Inicio */
.main-inicio {
    background-color: #464646;
    color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

.main-inicio-container {
    width: 50%;
    height: 50%;
}

.main-inicio-h1 {
    text-align: center;
    font-size: 1.7rem;
}

.main-inicio-p {
    text-align: justify;
    margin-top: 1.5rem;
    font-size: 1rem;
}
/* Seccion de acerca de nosotros */
.main-nosotros {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #000000;
    color: #fff;
}

.main-nosotros-container {
    width: 50%;
    height: 100vh;
}

.main-nosotros-container__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-nosotros-container__video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

video {
    margin-top: 5rem;
    border-radius: 15px;
    min-width: 100px;
}

.main-nosotros-h2 {
    text-align: center;
}

.main-nosotros-p {
    width: 70%;
    margin: 0 auto;
    text-align: justify;
}

/* Seccion de productos */

#productos {
    background-color: #464646;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Evita que el borde inferior se extienda más allá de la pantalla */
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ocupa todo el espacio del contenedor */
    box-sizing: border-box; /* Incluye el borde en el tamaño total */
}

.imagen img {
    border: 3px solid #000;
    border-radius: 15px;
    max-width: 100%;
    max-height: 100%;
    width: 200px;
    height: auto;
    transition: transform 0.3s ease;
    object-fit: contain; /* Ajusta la imagen dentro del contenedor sin distorsionarla */
}

.imagen img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/* Seccion del pie de página */
.footer {
    background-color: #000;
    width: 100%;
    height: 150px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-p {
    font-size: 2rem;
}

.footer-container {
    width: 100%;
    height: auto;
    display: flex;
}

.footer-container-img {
    width: 15%;
    height: 100%;
}

.footer-container-ul {
    width: 85%;
    height: 100%;
}

.footer-img {
    width: 100px;
    height: auto;
}

.footer-ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12rem;
    font-size: 2.4rem;
}

.fa-brands {
    margin: 0 1rem;
    color: #fff;
    transition: transform 0.3s ease;
}

.fa-instagram:hover {
    color: #bd2b63;
    cursor: pointer;
}

.fa-square-facebook:hover {
    color: rgb(13, 13, 148);
    cursor: pointer;
}

/* Zona responsiva */
/* Responsive a seccion del header */
@media (max-width: 640px) { 
    .header {
        flex-direction: column;
        height: 350px;
        padding: 30px 0;
        position: static;
    }
    .header-list {
        flex-direction: column;
        text-align: center;
    }
    .header-a {
        font-size: 1.2rem;
    }
}
/* Responsive a seccion de inicio */
@media (max-width: 1024px) { 
    .main-inicio {
        align-items: center;
        height: 100vh;
    }

    .main-inicio-container {
        width: 80%;
    }

    .main-inicio-h1 {
        text-align: center;
        font-size: 1.4rem;
    }
    
    .main-inicio-p {
        text-align: justify;
        margin-top: 1rem;
        font-size: 0.8rem;
    }
}

/* Responsive a seccion de Acerca de nosotros */

@media (max-width: 640px) { 
    .main-nosotros {
        flex-direction: column;

    }

    .main-nosotros-container {
        width: 100%;
    }

    .main-nosotros-container__video {
        padding: 0 20px;
    }

    .main-nosotros-p {
        font-size: 0.8rem;
        margin-top: 25px;
    }
}

/* Responsive a catalogo */
@media (max-width: 768px) {
    .catalogo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

@media (max-width: 640px) {
    .catalogo {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .imagen img {
     width: 180px;
    }
}

/* Responsive a footer */
@media (max-width: 1024px) {
    .footer {
        height: 200px;
    }

    .footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-container-img {
        min-width: 150px;
        margin: 0 auto;
    }

    .footer-ul {
        margin: 0 auto;
    }

    .footer-p {
        font-size: 1rem;
        min-width: 70%;
    }

    .fa-brands {
        font-size: 1.5rem;
    }
}





